.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    color: antiquewhite;    
}

.home-applications {
    display: flex;
}

.home .blur-background {
  flex: 1;
  margin: 0 10px;
  height: 200px;
}

.home .blur-background p {
    text-align: center;
}
