.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  gap: 1rem;
  padding: 1.5rem;
  width: 60vw;
  min-height: fit-content;
  height: 35vh;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.uploader-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.uploader-grid {
  gap: 1rem;
  margin: 0;
  width: 100%;
  max-width: 800px;
}

.uploader-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploader-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.uploader-name {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  color: #444;
}

#uploader-btn {
  position: relative;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(76, 201, 240, 0.3);
  overflow: hidden;
}
#uploader-btn {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 25px rgba(76, 201, 240, 0.6);
  background: linear-gradient(20deg, #040237ec,#48179c, #0f6cb8, #07c293);
}

/* efecto de “destello” animado */
#uploader-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transform: skewX(-25deg);
  transition: left 0.7s ease;
}

#uploader-btn:hover::before {
  left: 125%;
}