.play h2 {
    text-align: center;
}

.play img {
    width: 200px;
    height: 200px;
}

.btn {
    color: white;
    background: rgba(0,0,0, 0.9);
    border-radius: 0.3;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: rgba(0,0,0, 0.9);
    color: #56e2e4;
}
