.results {
  position: fixed;
  top: -5vh;        /* altura del header real */
  bottom: 20vh;     /* altura del footer real */
  left: 15vw;
  width: 70vw;
  padding: 7rem 2rem 30vh 2rem; /* <-- padding bottom SÍ funciona ahora */
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior:smooth ;

  color: white;
  background: #181313ce;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  text-align: center;
}

.headers{
  display: flex;
  width: inherit;
  height: 5vh;
  align-content: baseline;
  justify-content: flex-start;
}
.section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top: 2px solid white;
}
#hubble-div{
  display: grid;
  grid-template-rows: auto auto; /* Dos filas */
  gap: 10px;
}
#hubble-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
#hubble-value{
  width: 15vh;
  height: 15vh;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: groove 3px whitesmoke;
  box-shadow: 0 0 25px rgba(82, 135, 155, 0.6);
}
#hubble-img-container , #hubble-data-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}
#img-hubble{
  height: 30vh;
  min-width:35vw;
  margin-right: 3em;
  border: groove 3px whitesmoke;
  box-shadow: 0 0 25px rgba(82, 135, 155, 0.6);
  background-image: url('../../assets/The-Hubble-Sequence.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#values-section{
  border-top: 2px solid white;
}
#predict-values{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
  padding: 10px;
}
.prediction-item{
  background-color: #1e1e2f;     /* color oscuro elegante */
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.95rem;
  color: #e0e0e0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#features{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1vw;
}

#botonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
#share-another-btn {
  color: aliceblue;
  position: relative;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 25px rgba(70, 109, 122, 0.6);

  overflow: hidden; /* Need to hidde overflow effect*/
  transform: translateY(-2px) scale(1.03);
  background: rgba(194, 190, 190, 0.058);
  backdrop-filter: blur(5px);
}
#share-another-btn:hover{
  box-shadow: 0 0 10px rgba(76, 201, 240, 0.6);
  backdrop-filter: blur(0px);

}
/* efecto de “destello” animado */
#share-another-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;/*arranca en hidden en la izquierda*/
  width: 50%;
  height: 100%;
  box-shadow: 0 0 25px rgba(76, 201, 240, 0.6);

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );

  transform: skewX(-25deg);
  transition: left 0.7s ease;
}

#share-another-btn:hover::before {
  left: 125%; /*vuelve*/
}