body {
  background-image: url("assets/milkyWay.jpg");
  background-color: rgba(1, 1, 1, 0.5);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* Control del layout general */
  display: flex;
  flex-direction: column; /* o row */
  align-items: center;    /* centra en horizontal */
  justify-content: flex-start; /* cambia a center si querés todo centrado */
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border-radius: 10%;
    background-color: rgba(0,0,0, 0.65);
}

.routes-container{
  height:90vh ;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
